* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  background: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.nav__logo {
  margin-right: 10px;
}

.nav__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}
